*{
  margin:0px;
  padding:0px;
}

body{
  background-image: url("../images/food.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#register {
  margin-top: 49px;
}
