*{
    margin:0px;
    padding:0px;
}

body{
    background-image: url("../images/wine.jpg");
    background-attachment: fixed;
    min-height: 100%;
    min-width: 1024px;
    opacity: .90
}

#register {
    margin-top: 49px;
}