<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'background.html'%}
{% block body%}
    <div class="row">
        <div class="col-7">
            <h1 class="text-dark">Foodie Review</h1>
        </div>
        <!-- <div class="col-1 d-flex justify-content-end">
            <a href="{% url 'dashboard' %}">Dashboard</a></li>
        </div> -->
        <div class="col-1 d-flex justify-content-end">
            <a href="account/{{user.id}}">Account</a></li>
        </div>
        <div class="col-1 d-flex justify-content-end">
            <a href="{% url 'logout' %}">Logout</a></li>
        </div>
    </div>
    {% for food in all_food %}
    <div class="d-inline-block">
        <a href="/food/{{food.id}}"><img src="{{food.food_image.url}}" class="hidden-md" width="220" height="200"></a>
        <div class="fs-5">
            <p style=" color: black;">{{food.title}}</p>
            <p style="color: black;">posted by: {{food.food_uploader.first_name}} {{food.food_uploader.last_name}}</p>
            <p style="color: black">{{food.likes.count}}: likes this food</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
</html>