<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Product</title>
  </head>
  {% extends 'background.html'%}
{% block body%}
    <div id="food" style="float: right;">
      <a style="color: rgb(18, 74, 152); font-size: 20px; font-weight: bold;" href="{% url 'dashboard' %}">Dashboard</a>
      <a style="color: rgb(18, 74, 152); font-size: 20px; font-weight: bold; margin-right: 20px; margin-left: 20px;" href="{% url 'logout' %}">Logout</a>
    </div>
    <h1>Welcome to the Food Product Page!</h1>
    <h3 style="color: black">Food: {{food_product.title}}</h3><br>
    <img src="{{food_product.food_image.url}}" width="220px" height="200px">
    {% if current_user in all_likes %}
      <a href="/unlike/{{food_product.id}}">Unlike food</a>
    {% else %}
      <a href="/like/{{food_product.id}}">Like food</a>
    {% endif %}
    <form action="/food/{{food_product.id}}/comment" method="POST">
      {% csrf_token %}
      <div>
        <label for="content" class="text-light text-opacity-75" style="font-size: larger; font-weight: bolder;">content</label>
        <input class="form-control" style="width: 300px; margin-left: 10px;" type="text" id="content" name="content" placeholder="Add Comment">
    </div>
    <br>
      <input class="btn btn-primary" style="margin-left: 10px;" id="create_comment" type="submit" value="Add comment!">
  </form>
  {% if not food_product.comments.all %}
  {% else %}
  <br><br>
    {% for comment in food_product.comments.all %}
      <strong style="color: black">{{comment.uploaded_by.first_name}} -
      {{comment.created_at}}</strong>
      <br>
      {{comment.content}}
      <hr>
      {% if current_user.id == comment.uploaded_by.id %}
        <form action="/food/{{food_product.id}}/{{comment.id}}/delete" method="post">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      {% endif %}
    {% endfor %}
  {% endif %}
  <br><br>
  {% endblock %}
</html>