<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Product</title>
  </head>
  {% extends 'background.html'%}
{% block body%}
    <div class="col-1 d-flex justify-content-end">
      <button onclick="history.back()">Go Back</button>
      <a href="{% url 'logout' %}">Logout</a></li>
  </div>
    <h1>Welcome to the Food Product Page!</h1>
    <h3 style="color: aqua">Yuumy food 😋: {{food_product.title}}</h3><br>
    <img src="{{food_product.food_image.url}}" width="220px" height="200px">
    <form action="{ url 'comment' food.food_id}" method="POST">
      {% csrf_token %}
      <label for="added_comment" value="Post a great comment here!"></label>
      <input type="text" name="added_comment">
  </div>
      <input id="create_comment" type="submit" value="Add comment!">
  </form>

  {% if not food_product.comments.all %}
    No comments yet <a href="#">Add a comment</a>
    <h1>Hello</h1>
  {% else %}
    {% for comment in food_product.comments.all %}
    <h1>afere</h1>
      <strong style="color: red;">{{comment.name}} -
      {{comment.created_at}}</strong>
      <br>
      {{comment.content}}
      <hr>
    {% endfor %}
  {% endif %}
  {% endblock %}
</html>