<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Product</title>
  </head>
  {% extends 'background.html'%}
{% block body%}
    <div class="col-1 d-flex justify-content-end">
      <button onclick="history.back()">Go Back</button>
      <a href="{% url 'logout' %}">Logout</a></li>
  </div>
    <h1>Welcome to the Food Product Page!</h1>
    <h3 style="color: aqua">Yuumy food 😋: {{food_product.title}}</h3><br>
    <img src="{{food_product.food_image.url}}" width="220px" height="200px">
    <form action="/food/{{food_product.id}}/comment" method="POST">
      {% csrf_token %}
      <div>
        <label for="content" class="text-light text-opacity-75" style="font-size: larger; font-weight: bolder;">content</label>
        <input class="form-control" type="text" id="content" name="content">
    </div>
    <div>
      <label for="name" class="text-light text-opacity-75" style="font-size: larger; font-weight: bolder;">Name</label>
      <input class="form-control" type="text" id="name" name="name">
  </div>
      <input id="create_comment" type="submit" value="Add comment!">
  </form>
  {% if not food_product.comments.all %}
  {% else %}
  <br><br>
    {% for comment in food_product.comments.all %}
      <strong style="color: white">{{comment.name}} -
      {{comment.created_at}}</strong>
      <br>
      {{comment.content}}
      <hr>
      {% if current_user.id == all_food.users_food.id %}
        <form action="#" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete">
        </form>
      {% endif %}
    {% endfor %}
  {% endif %}
  <br><br>
  {% endblock %}
</html>